{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">

        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading" style="background-color: #A6192E;color:#ffffee">
                    <h4 class="panel-title">
                        Edit contact
                    </h4>
                </div>
                <div>

                    <a href="{{ path('Address book') }}">

                        <button type="button" class="btn btn-primary" >Address book</button></a>
                </div>
                {{ form_start(form) }}
                <div class="panel-body">



                    <div class="field-input">
                        <label> First Name</label>

                        {{ form_widget(form.firstname, {'id':'First_Name','attr': {'class': 'form-control','placeholder':'First Name' }}) }}
                    </div>
                    <div class="field-input">
                        <label> Last Name</label>

                        {{ form_widget(form.lastname, {'id':'Last_Name','attr': {'class': 'form-control','placeholder':'Last Name' }}) }}
                    </div>
                    <div class="field-input">
                        <label> Email</label>

                        {{ form_widget(form.email, {'id':'Email','attr': {'class': 'form-control','placeholder':'Email','type' : 'email' }}) }}
                    </div>

                    <div class="field-input">
                        <label> Birthday </label>

                        {{ form_widget(form.birthday, {'id':'birthday','attr': {'class': 'form-control','type' : 'date' }}) }}
                    </div>
                    <div class="field-input">
                        <label> Phone number </label>

                        {{ form_widget(form.phonenumber, {'id':'phonenumber','attr': {'class': 'form-control' }}) }}
                    </div>

                    <div class="field-input">
                        <label> Country </label>

                        {{ form_widget(form.Country, {'id':'Country','attr': {'class': 'form-control' , 'data-country' : 'DE' }}) }}
                    </div>

                    <div class="field-input">
                        <label> City </label>

                        {{ form_widget(form.city, {'id':'City','attr': {'class': 'form-control','placeholder':'City' }}) }}
                    </div>
                    <div class="field-input">
                        <label> Street </label>

                        {{ form_widget(form.street, {'id':'Street','attr': {'class': 'form-control','placeholder':'Street' }}) }}
                    </div>
                    <div class="field-input">
                        <label> Zip </label>

                        {{ form_widget(form.zip, {'id':'Zip','attr': {'class': 'form-control','placeholder':'Zip' }}) }}
                    </div>
                    <div class="field-input">
                        <label> Picture </label>

                        {{ form_widget(form.imageFile, {'id':'Picture','attr': {'class': 'form-control','placeholder':'Picture' }}) }}
                    </div>
                    <br>
                    <div>

                        <input class="btn btn-lg btn-block" style="background-color: #A6192E; color: #ffffee; " type="submit" id="_submit" name="_submit" value="{{ 'Edit  Contact'|trans }}" />

                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock%}